<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ url_for('static', filename='images/wet-option-product.jpg') }}" alt="Wet Option Product">
                        </figure>
                    </div>
                    <div class="card-content">
                        <h3 class="title is-4">Wet Option Product</h3>
                        <p class="subtitle is-6">Innovative Aquatic Solution</p>
                        <div class="content">
                            <p>Experience the future of aquatic technology with our Wet Option Product. This revolutionary device offers unparalleled performance in underwater environments.</p>
                            <ul>
                                <li>Advanced water-resistant design</li>
                                <li>Long-lasting battery life</li>
                                <li>Intuitive user interface</li>
                                <li>Compatible with various aquatic activities</li>
                            </ul>
                            <p class="has-text-weight-bold">Price: $199.99</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button id="checkout-button" class="button is-primary is-fullwidth">
                            <span class="icon">
                                <i class="material-icons">shopping_cart</i>
                            </span>
                            <span>Buy Now</span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>